body{
    background-color: #CBA087;
}

p{
    padding: 0%;
    margin-top: 1px;
}
.titleHome{
    font-family: mahalika;
    font-size: 60px;
}

.subtitleHome{
    font-family: mahalika;
    font-size: 40px;

}

.textHome{
    font-family: assistant-regular;
    font-size: 20px;
    margin-top: 1px;
}

.imgHome{
    width: 305px;
    height: 391px;
    border-radius: 10px;
}

.divHome{
    position: relative;
}

.divImg{
    width: 50%;
    float: left;
}

.divText{
    width: 50%;
    float: right;
}